ujson
psycopg2-binary
arrow
wsaccel
urllib3
certifi
cryptography
snowflake-connector-python==3.11.0
fastapi
uvicorn
pydantic
python-dotenv
pandas
streamlit
streamlit-aggrid
openpyxl
extra-streamlit-components
streamlit-option-menu
gevent
gevent-websocket