ujson
psycopg2-binary
arrow
wsaccel
urllib3
certifi
cryptography
snowflake-connector-python
fastapi
uvicorn
pydantic
python-dotenv
pandas
streamlit
streamlit-aggrid
openpyxl
extra-streamlit-components
streamlit-option-menu
gevent
gevent-websocket
xmltodict
orjson
lxml
xlrd
pillow
regex
boto3
bigquery
bq-iterate
altair==4.2.2